# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.eggs/
.venv/
venv/
ENV/
.env
.env.*

# Logs
*.log

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
build/
